/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    padding: 0;
    margin: 0;
    font-family: "Kanit", sans-serif;
    color: white;
}

body{
    background-color: #2c2c30;
}

div{
    width: 100%;
    margin: 0;
    padding: 0;
}




/* HEADER */
header{
    background-color: #2c2c30;
    height: 5rem;
    width: 100%; 
    position: fixed;
    top: 0rem;
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: 10;
    border-bottom: 1px solid rgb(158, 158, 158);
}

header svg{
    fill: white;
    width: 3rem;
    height: 3rem;
}

.header {
    display: flex;
    justify-content: end;
    width: 20rem;
    padding: 0;
    margin: 0;
}

.header > h1 {
    margin: 0;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 1000;
    font-family: "Impact, fantasy";
    padding: 0.5rem;
}

.header > h1:hover {
    cursor: default;
}

.sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar > div {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
}

.sidebar li{
    height: 3rem;
    padding: 0 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    width: 100%;
    transition: 0.3s;
}

.sidebar li:hover{
    transform: scale(1.1);
}

.sidebar .sidebar-close{
    padding: 1rem;
    height: 3.5rem;
    width: fit-content;
    margin: 0;
}

.sidebar .sidebar-close img{
    height: 100%;
    filter: invert();
}

.sidebar .sidebar-login{
    padding: 1rem;
    height: 3.5rem;
    width: fit-content;
    margin: 0;
}

.sidebar .sidebar-login img{
    height: 100%;
    filter: invert();
}

.sidebar a{
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    width: 100%;
}

.sidebar h2{
    color: white;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    padding-bottom: 1rem;
    gap: 2rem;
}

.nav > a {
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: white;
    text-decoration: none; 
    padding-bottom: 3px;
}

.nav>a:hover {
    transform: scale(1.1);
    transition: 0.4s ease;
    cursor: pointer;
}

.nav h2{
    font-size: 1.5rem;
    padding: 0; 
    margin: 0;
    position: relative;
}

.nav a h2::after{
    content: '';
    background-color: white;
    border-radius: 10rem;
    height: 0.1rem;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.2s ease;
}

.nav a h2:hover::after{
    width: 100%;
}

.login{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 20rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    margin: 0;
}

.loginIcon{
    background-image: url("images/user_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert();
    height: 3rem;
    width: 3rem;
}

.loginIcon:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s ease;
}

.menu-button{
    display: none;
    padding-right: 1rem;
}

@media (max-width: 1200px) {
    .nav h2{
        font-size: 1rem;
    }
}

@media (max-width: 960px) {
    .header{
        padding-left: 1rem;
    }
    .header > h1{
        font-size: 2rem;
    }
    .nav h2{
        font-size: 0.8rem;
    }
    .login{
        width: 13rem;
    }
    .header {
        justify-content: center;
        width: 13rem;
    }
}

@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}

@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}



/* INITIAL IMAGES */
#initial-images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("images/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.7);
    height: 50rem;
}

#initial-images>h1{
    font-size: 5rem;
    font-style: italic;
}

#initial-images>a{
    background-color: transparent;
    box-shadow: 0 0 1rem white;
    padding: 0.5rem 1.5rem;
    border: 0.1rem solid white;
    transition: 0.4s ease;
    text-decoration: none;
    color: white;
}

#initial-images>a:hover{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

@media (max-width: 1024px) {
    #initial-images{
        height: 30rem;
    }
}

@media (max-width: 800px) {
    #initial-images>h1{
        transform: scale(0.8);
    }
}

@media (max-width: 480px) {
    #initial-images>h1{
        transform: scale(0.6);
    }
}



/* DESTAQUE */
#destaque {
    scroll-margin-top: 4rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

#destaque h2 {
    font-weight: 500;
}

.slideshow {
    display: flex;
    justify-content: center;
}

.slideshow>div {
    margin: 0;
}

.slideshow-container {
    position: relative;
    background-color: gray;
    overflow: hidden;
}

.mySlides {
    display: none;
    width: 100%; 
    height: 100%;
    position: relative; 
}

.numbertext {
    color: #f2f2f2;
    font-size: 0.8rem;
    position: absolute;
    top: 0.8rem; 
    left: 0.8rem; 
    z-index: 2; 
}

.mySlides img { 
    height: 40vw;
    display: block; 
    width: 100%; 
    object-fit: cover;
    filter: blur(0.5rem); 
    transition: filter 0.3s ease-in-out;
}

.mySlides:hover img { 
    filter: blur(0); 
}

.image-text {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
    text-align: center;
    color: white; 
    padding: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 10px;
    max-width: 80%; 
    box-sizing: border-box; 
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
}

.mySlides:hover .image-text {
    opacity: 1;
}

.mySlides:hover {
    cursor: pointer;
}

.image-text h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.image-text p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.voltar,
.proximo {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
    z-index: 2;
}

.proximo {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.voltar:hover,
.proximo:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 1rem 0.2rem;
    background-color: #c0c0c0;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    user-select: none;
    z-index: 1;
}

.active,
.dot:hover {
    background-color: #717171;
}

@media(max-width: 800px){
    #destaque{
        padding: 0;
    }

    .slideshow {
        margin: 0;
        padding: 0;
    }

    .slideshow>div {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .slideshow-container {
        position: relative;
        background-color: gray;
        overflow: hidden;
        width: 100%;
    }

    .mySlides img { 
        height: 80vw;
        filter: blur(0); 
    }

    .mySlides .image-text {
        opacity: 1;
    }

    .image-text h2 {
        transform: scale(0.7);
    }

    .image-text p {
        transform: scale(0.7);
    }

    .dot{
        display: none;
    }
}

@media(max-width: 540px){
    .image-text {
        padding: 0;
        max-width: 90%;
    }

    .mySlides img { 
        height: 100vw;
    }

    .image-text h2 {
        font-size: 2rem;
        margin-bottom: 0;
    }

    .image-text p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}



/* PRODUCTS */
#products{
    background-color: white;
    padding-top: 2rem;
    scroll-margin-top: 5rem;
}

.title {
    display: flex;
    justify-content: center;
    color: black;
}

.date{
    padding: 0 10%;
    width: 100%;
    display: flex;
}

.date>h1 {
    background-color: rgb(40, 41, 49);
    border: 0.1rem solid rgb(35, 35, 35);
    border-radius: 30%;
    width: fit-content;
    padding: 0 0.5rem;
    font-size: 2.5rem;
    text-align: center;
    user-select: none;
}

#products .row{
    justify-content: center;
    margin: 0;
    padding: 0;
}

#products .row div{
    justify-content: center;
    margin: 0;
    padding: 0;
}

@media (max-width: 800px) {
    .date{
        justify-content: center;
    }

    .date>h1 {
        font-size: 2em;
    }
}

.fill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; 
    flex-wrap: wrap; 
    gap: 15px;
    padding: 0 15px; 
}

#sub-img1 {
    justify-self: center;
    object-fit: cover;
    width: 100%;
    height: 50vh;
    border-radius: 15px;
}

#sub-img2, #sub-img3 {
    padding: 10px;
    object-fit: cover;
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: 250px;
    height: 25vh;
    border-radius: 15px;
}

#sub-img1:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}

#sub-img2:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}

#sub-img3:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}

#morePort{
    display: none;
}

.bi-arrow-down-circle {
    font-size: 6vh;
    user-select: none;
}

.bi-arrow-up-circle {
    font-size: 6vh;
    user-select: none;
}

.ver-mais {
    user-select: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    cursor: pointer;
    width: max-content;
}

.invert {
    filter: invert();
}

.ver-mais>h1 {
    font-size: 4vh;
}

.ver-mais:hover {
    transform: scale(1.05);
    transition: 0.4s ease;
    cursor: pointer;
}

.ver-mais:active {
    transform: scale(1.03);
}



/* MARCA */
#car-brands{
    padding-top: 4rem;
    scroll-margin-top: 2rem;
    margin-right: 8%;
    margin-left: 8%;
}

#car-brands p{
    text-align: justify;
}

.brands{
    display: flex; 
    align-items: center;
    justify-content: start; 
    width: fit-content;
    flex-direction: row;
    margin-right: 8%;
    margin-left: 8%;
}

#car-brands .brands{
    display: flex; 
    align-items: center; 
    justify-content: start;
    width: fit-content;
    flex-direction: row;
    margin-right: 0;
    margin-left: 0;
}

.brands div{
    width: fit-content;
}

.car-brand-text-left{
    padding-left: 1rem;
}

.car-brand-text-right{
    padding-right: 1rem;
}

#another-car-brands {
    display: none;
    padding-top: 2rem;
}

#another-car-brands p{
    text-align: justify;
}

#upPort,
#upTest {
    display: none;
}

#downPort,
#downTest {
    display: inline;
}

.brand-align {
    display: flex;
    align-items: center;
    padding: 0;
}

.brands img {
    display: flex;
    justify-content: center;
    object-fit: cover;
    width: 20rem;
    height: 15rem;
    border-radius: 15px;
}

@media (max-width: 900px) { 
    .brands p{
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) { 
    .brands img {
        width: 100%; 
        height: auto; 
        margin-right: 0; 
        margin-bottom: 1rem;
    }
    .brands {
        flex-direction: column;
        height: auto; 
    }
    

    #car-brands .brands{
        flex-direction: column;
        height: auto; 
    }
    .brand-align {
        text-align: center; 
    }

    .car-brand-text-left{
        padding-left: 0;
    }

    .car-brand-text-right{
        padding-right: 0;
    }
}

.brands img:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}



/* CONTACT */
#contact{
    display: flex;
    flex-direction: column;
    padding: 3rem 8%;
    background-color: #1f1f22;
}

#contact label{
    padding-top: 1rem;
}

#contact button{
    margin: 1rem 0;
}