/* INITIAL IMAGES */
#initial-images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../images/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.7);
    height: 50rem;
}

#initial-images>h1{
    font-size: 5rem;
    font-style: italic;
}

#initial-images>a{
    background-color: transparent;
    box-shadow: 0 0 1rem white;
    padding: 0.5rem 1.5rem;
    border: 0.1rem solid white;
    transition: 0.4s ease;
    text-decoration: none;
    color: white;
}

#initial-images>a:hover{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}



/* DESTAQUE */
#destaque {
    scroll-margin-top: 4rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

#destaque h2 {
    font-size: 2rem;
    font-weight: 500;
}

.slideshow {
    display: flex;
    justify-content: center;
}

.slideshow>div {
    margin: 0;
}

.slideshow-container {
    position: relative;
    background-color: gray;
    overflow: hidden;
}

.mySlides {
    display: none;
    width: 100%; 
    height: 100%;
    position: relative; 
}

.numbertext {
    color: #f2f2f2;
    font-size: 0.8rem;
    position: absolute;
    top: 0.8rem; 
    left: 0.8rem; 
    z-index: 2; 
}

.mySlides img { 
    height: 40vw;
    display: block; 
    width: 100%; 
    object-fit: cover;
    filter: blur(0.5rem); 
    transition: filter 0.3s ease-in-out;
}

.mySlides:hover img { 
    filter: blur(0); 
}

.image-text {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
    text-align: center;
    color: white; 
    padding: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 10px;
    width: 80%; 
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; 
}

.mySlides:hover .image-text {
    opacity: 1;
}

.image-text h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.image-text p {
    font-size: 1rem;
    line-height: 1.5;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.voltar,
.proximo {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
    z-index: 2;
}

.proximo {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.voltar:hover,
.proximo:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 1rem 0.2rem;
    background-color: #c0c0c0;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    user-select: none;
    z-index: 1;
}

.active,
.dot:hover {
    background-color: #717171;
}



/* PRODUCTS */
#products{
    background-color: white;
    padding-top: 2rem;
    scroll-margin-top: 5rem;
}

.title {
    display: flex;
    justify-content: center;
    color: black;
}

.date{
    padding: 0 10%;
    width: 100%;
    display: flex;
    margin-top: 2rem;
}

.date>h1 {
    background-color: rgb(40, 41, 49);
    border: 0.1rem solid rgb(35, 35, 35);
    border-radius: 30%;
    width: fit-content;
    padding: 0 0.5rem;
    font-size: 2.5rem;
    text-align: center;
    user-select: none;
}

#products .row{
    justify-content: center;
    margin: 0;
    padding: 0;
}

#products .row div{
    justify-content: center;
    margin: 0;
    padding: 0;
}

.fill {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    overflow: hidden; 
    gap: 15px;
}

.sub-img1 {
    padding: 0.7rem;
    justify-self: center;
    object-fit: cover;
    width: 83vw;
    height: 40vw;
    border-radius: 15px;
    grid-column: 1 / span 4;
}

.sub-img2 {
    padding: 0.5rem;
    object-fit: cover;
    width: 100%;
    height: 13vw;
    border-radius: 15px;
}

.sub-img1:hover {
    transform: scale(1.01);
    transition: 0.3s ease;
    cursor: pointer;
}

.sub-img2:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
    cursor: pointer;
}

#morePort{
    display: none;
}

.bi-arrow-down-circle {
    font-size: 6vh;
    user-select: none;
}

.bi-arrow-up-circle {
    font-size: 6vh;
    user-select: none;
}

.ver-mais {
    user-select: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    cursor: pointer;
    width: max-content;
}

.invert {
    filter: invert();
}

.ver-mais>h1 {
    font-size: 4vh;
}

.ver-mais:hover {
    transform: scale(1.05);
    transition: 0.4s ease;
    cursor: pointer;
}

.ver-mais:active {
    transform: scale(1.03);
}



/* MARCA */
#car-brands{
    padding-top: 4rem;
    scroll-margin-top: 2rem;
    margin-right: 8%;
    margin-left: 8%;
}

#car-brands p{
    text-align: justify;
}

.brands{
    display: flex; 
    align-items: center;
    justify-content: start; 
    width: fit-content;
    flex-direction: row;
    margin-right: 8%;
    margin-left: 8%;
}

#car-brands .brands{
    display: flex; 
    align-items: center; 
    justify-content: start;
    width: fit-content;
    flex-direction: row;
    margin-right: 0;
    margin-left: 0;
}

.brands div{
    width: fit-content;
}

.car-brand-text-left{
    padding-left: 1rem;
}

.car-brand-text-right{
    padding-right: 1rem;
}

#another-car-brands {
    display: none;
    padding-top: 2rem;
}

#another-car-brands p{
    text-align: justify;
}

#upPort,
#upTest {
    display: none;
}

#downPort,
#downTest {
    display: inline;
}

.brand-align {
    display: flex;
    align-items: center;
    padding: 0;
}

.brands img {
    display: flex;
    justify-content: center;
    object-fit: cover;
    width: 20rem;
    height: 15rem;
    border-radius: 15px;
}

.brands img:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}



/* CONTACT */
#contact{
    display: flex;
    flex-direction: column;
    padding: 3rem 8%;
    background-color: #1f1f22;
}

#contact label{
    padding-top: 1rem;
}

#contact button{
    margin: 1rem 0;
}



/* RESPONSIVITY */
/* INITIAL IMAGES */
@media (max-width: 1023px) {
    #initial-images{
        height: 30rem;
    }
}

@media (max-width: 767px) {
    #initial-images>h1{
        transform: scale(0.8);
    }
}

@media (max-width: 424px) {
    #initial-images>h1{
        transform: scale(0.6);
    }
}



/* DESTAQUE */
@media (max-width: 1023px) {
    .image-text {
        width: 70%;
        opacity: 1;
    }

    #destaque{
        padding: 0;
    }
    
    .slideshow>div {
        width: 100%;
        padding: 0;
    }

    .slideshow-container {
        width: 100%;
    }

    .mySlides img { 
        height: 65vw;
        filter: blur(0); 
    }

    .image-text h2 {
        transform: scale(0.8);
    }

    .image-text p {
        transform: scale(0.8);
    }

    .dot{
        display: none;
    }
}

@media(max-width: 767px){
    .mySlides img { 
        height: 80vw;
    }

    .image-text {
        width: 75%;
        padding: 0;
    }

    .image-text h2 {
        transform: scale(0.7);
    }

    .image-text p {
        transform: scale(0.7);
    }
}

@media(max-width: 424px){
    .image-text{
        width: 90%;
    }    

    .mySlides img { 
        height: 100vw;
    }
}



/* PRODUCTS */
@media (max-width: 1023px) {
    .fill {
        grid-template-columns: auto auto;
    }

    .sub-img1 {
        grid-column: 1 / span 2;
    }

    .sub-img2 {
        height: 25vw;
    }
}

@media (max-width: 767px) {
    .date{
        justify-content: center;
    }

    .date>h1 {
        font-size: 2em;
    }

    .sub-img1 {
        padding: 0.3rem;
    }

    .sub-img2 {
        padding: 0.3rem;
    }
}



/* MARCA */
@media (max-width: 1023px) { 
    .brands p{
        font-size: 0.8rem;
    }
}

@media (max-width: 767px) {
    #car-brands .brands {
        flex-direction: column;
        height: auto; 
    }

    .brands {
        flex-direction: column;
        height: auto; 
    }

    .brands img {
        width: 100%; 
        height: auto; 
        margin-right: 0; 
        margin-bottom: 1rem;
    }

    .brand-align {
        text-align: center; 
    }

    .car-brand-text-left{
        padding-left: 0;
    }

    .car-brand-text-right{
        padding-right: 0;
    }
}